{% extends "base.html" %}


{% block extrascript %}
<script type="text/javascript">

</script>
{% endblock %}

{% block imageclassify_active %}
"active"
{% endblock %}


{% block option_name %}
广告图片分类
{% endblock %}

{% block option_des %}
图片分类: Imagenet数据训练,共1000个分类 or 拍拍商品数据训练,共75个分类
{% endblock %}


{% block search_form %}

    <div>

      <form action="/upload/classify" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        Or <br/>
        ImageUrl:   <input type="text" name="imageurl" />
        <br/><br />

        选择分类模型:   <select name="model_choose">
                            <option value ="0">Imagenet Model</option>
                            <option value ="1">Paipai Model</option>
                        </select>
        <br /><br />
        <input type="submit" value="Classify">
      </form>

      <br /><br />

      <form action="/testcase/1" method="post" enctype="multipart/form-data">
        <input type="submit" value="TestCase1">
      </form>

      <form action="/testcase/2" method="post" enctype="multipart/form-data">
        <input type="submit" value="TestCase2">
      </form>

    </div>



{% endblock %}



{% block output_name %}
{% if pic_classify_result %}
图片分类结果
{% endif %}
{% endblock %}


{% block output_cont %}

{% if pic_classify_result %}
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>属性名</th>
        <th>属性内容</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>素材图片</td>
       <td><img src={{ori_image}}/></td>
      </tr>
      {% for item in  pic_classify_result%}
      <tr>
      <td>{{item.0}}</td>
      <td>{{item.1}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>



{% endif %}

{% endblock %}