<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2 class="text-muted">图片分析(By创意优化组)</h2>
      </div>
      <hr/>
      <div>
        <em>图片分类: Imagenet数据训练,共1000个分类 or 拍拍商品数据训练,共75个分类</em>
      	<p class="lead"><a href="/classify"> Image Classification </a></p>
        <br>
        <em>图片相似度计算: 利用deep auto encoding特征</em>
        <p class="lead"><a href="/similarity"> Image Similarity </a></p>
        <br>
        <em>图片检索：利用deep learning特征建立图像索引</em>
        <p class="lead"><a href="/search"> Image Search </a></p>
        <br>
        <em>图片语义分析：(目前主要是电商行业)</em>
        <p class="lead"><a href="/semantic"> Image Semantic </a></p>
        <br>
        <br>
        <em>图片主体轮廓描述(TODO)</em>
        <p class="lead"><a href="/"> Image Profile </a></p>
        <br>
        <em>图片一键美化(TODO)</em>
        <p class="lead"><a href="/"> Image Beautify </a></p>
      </div>
    </div>
  </body>
</html>

