{% extends "base.html" %}

{% block pic_optim_active %}
"active"
{% endblock %}


{% block option_name %}
素材一键优化
{% endblock %}



{% block search_form %} 
<form class="form" action="/picoptim/" method="post" enctype="multipart/form-data">	
	<div class="col-md-4">
		<div class ="row">
			<p>
				
			<label class="file">
				<input type="file" name="pic" id="file" value="上传">
			</label>
				
			</p>
			<p>
			<label>
				<button type="submit" class="btn btn-md btn-primary">上传图片</button>
			</label>
			</p>
			
		</div>
		<div class ="row">
			<p>
				<a class="btn btn-md btn-success" href="/picoptim/test1/" role="button">样例1</a>
				<a class="btn btn-md btn-success" href="/picoptim/test2/" role="button">样例2</a>
			</p>
		</div>
	</div> 
</form>
{% if optim_method_select %}
<form class="form" action="/picoptim/choosemethod/" method="post" enctype="multipart/form-data">
{% else %}

{% endif %}

{% if adjust_para %}
<div class="col-md-2">
	<p>
		<label for="luma_abs">亮度绝对值调节参数</label>
		<input type="text" name="luma_abs" id="luma_abs" class="form-control" placeholder="亮度绝对值调节" value=5>
	</p>
</div>
<div class="col-md-2">
	<p>
		<label for="contra">对比度调节参数</label>	
		<input type="text" name="contra" id="contra" class="form-control" placeholder="对比度调节" value=5>	  
	</p>
</div>
{% else %}
{% endif %}

{% endblock %}



{% block output_cont %}
{% if optim_method_select %}
	<div class="row">
		<div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">原图片</h3>
            </div>

            <div class="panel-body">					
					<p><img class="img-polaroid" name="ori_pic" src={{ori_image}}/></p>
					<label>
						<button type="submit" class="btn btn-md btn-primary">一键优化</button>
					</label>
					
				</form>
            </div>

         </div>
	</div>
	<div class="row">
		 {% if pic_optim_result %}
				<div class="panel panel-primary">
				 <div class="panel-heading">
					<h3 class="panel-title">优化结果</h3>
				 </div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped">

							<thead>
							<tr>
							  {% for item in pic_optim_result %}
							  <td>
							  {{item.1}}
							  </td>
							  {% endfor %}
							</tr>
							</thead>
							<tbody>
							<tr>
							{% for item in pic_optim_result %}
							<td>
								<p><img class="img-polaroid" src={{item.2}}/></p>
							</td>
							{% endfor %}
							</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>
		 {% endif %}
	</div>
{% endif %}
{% endblock %}